/* verde #216E00
cafe #757306
amarillo #FFCC00
naranja #E8940C
rojo #FF5D00 */

#winImg{
    width: 0%;
    position: fixed;
    /* left: right; */
    left: 50%;
    transform: translateX(-50%);

    top: 90px;
    z-index: 3;
}
#lossImg{
    width: 0%;
    position: fixed;
    /* left: right; */
    left: 50%;
    transform: translateX(-50%);

    top: 90px;
    z-index: 3;
}
#introImg{
    width: 100%;
    position: fixed;
    /* left: right; */
    left: 50%;
    transform: translateX(-50%);

    top: 90px;
    z-index: 3;
}
#introImg2{
    width: 100%;
    position: fixed;
    /* left: right; */
    left: 50%;
    transform: translateX(-50%);

    top: 90px;
    z-index: 2;
}

#audio{
    display: none
    }
#osti{
    display: none
    }
#taps{
    display: none
    }

.container {    
    /* border: 1px solid red; */
    width: 940px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    align-self: center;

}

html {
    /* width: 1200px; */
    background-color: hsl(48, 100%, 97%);

}

body
{
    /* font-family: 'Source Sans Pro', sans-serif; */
    margin: 0 auto;
    /* width: 1200px; */
}
.social-link.sergio {
    background-image: url('../images/LOGO_64x64_blue.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
    width: 90px;
}
/* <img src="images/LOGO_64x64_blue.png" height="90" alt="logo de http://sagalarzal.com"> <!--alt="" sirve para cuando se pierde la imagen--> */

ol,
ul {
    width: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.header {
    background-color:#216E00;
    /* color:hsl(48, 100%, 97%); */
    /* margin: 0px 50px 0px 50px; clockwise */
    border: 1px solid gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    align-items: center;
    height: 90px;
    padding: 5px;
    /* width: 1200px; */
    /* margin: 0; */
    font-size: 50px;

    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
z-index: 1000;
}

.menu {
    height: inherit;
    /* width: inherit; */
}

.header ol {
    display: flex;
    height: inherit;
    /* width: inherit; */

}

.header ol li {
    height: inherit;
    /* width: inherit; */
}

.header a {
    color:  hsl(48, 100%, 97%);
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 20px;
    /* width: 1200px; */
    /* margin: 0 auto; */
    /* width: inherit; */
}

#plagi {
    padding-top: 110px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

}
#buttons {
    padding-top: 10px;
    display: inherit;
    justify-content: center;
    padding-bottom: 10px;
    /* width: 300px; */
    /* border: 1px yellow solid; */
  touch-action: manipulation;

}
#demo {
    position: fixed;
    color: #216E00;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 25%;
    display: inherit;
    justify-content: left;
    padding-bottom: 10px;
    /* width: 300px; */
    /* border: 1px yellow solid; */
  touch-action: manipulation;
    z-index: 1;
}
.button {
    padding: 0;
    display: flex;
    justify-content: center;
    width: inherit;
    /* border: 1px blue solid; */
    margin: 0;    
}
.butto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 1px red solid;
    border-radius: 10%;
    padding: 0;
    margin: 0;
    /* margin: 0 auto; */
}
.buttito {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 1005px;
    border: 1px red solid;
    border-radius: 10%;
    padding: 0;
    margin: 0;
    /* margin: 0 auto; */
}
.butt {
    width: 90%;
    height: 90%;
    image-rendering: pixelated;
}





#plagiForest {
    border: #216E00 5px solid;
    display: flex;
    width: 100%;
    /* justify-self: center; */
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One';
    font-weight: normal;
    /*font-style: italic;*/
    margin: 3px;
}

h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
} /*prevalece la del final a menos que halla un !important*/
h1{
    /* display: block; */
    width: 364px;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: #E8940C;
    margin: 50; /*clockwise*/
    /* text-transform: uppercase; solo usar mayusculas en los stilos */
    /* text-decoration: underline; */
    /* overflow: hidden; */

}

h1 strong{
    color: #FF5D00;
}

h2 {
    color: #757306;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 30px;
}



#h1_sagalarzal {
    width: auto;
}



.footer {
    background-color: #216E00;
    color: hsl(48, 100%, 97%);
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 10px;
}

.footer img {
    vertical-align: middle
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.left {
    display: grid;
    justify-content: left;
    margin: 2px;
}
.right {
    display: grid;
    justify-content: right;
    margin: 2px;
}
